In [1]:
print ("hello world!")

hello world!

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///db_2021.db

In [3]:
%%sql
create table instructor (
ID char(5),
name varchar(20) not null,
dept_name varchar(20),
salary numeric(8,2))

 * sqlite:///db_2021.db
Done.

[]

In [4]:
%sql insert into instructor values ('10211','smith','Biology', 66000)

 * sqlite:///db_2021.db
1 rows affected.

[]

%sql insert into instructor values ('10212',null,'Biology', 66000)


IntegrityError: NOT NULL constraint failed: instructor.name


'name' can't be NULL by integrity constraint(not null) in Create table.

In [5]:
%sql insert into instructor values ('10212','David','Biology', 66000)

 * sqlite:///db_2021.db
1 rows affected.

[]

In [6]:
%sql select * from instructor

 * sqlite:///db_2021.db
Done.

[('10211', 'smith', 'Biology', 66000), ('10212', 'David', 'Biology', 66000)]

In [7]:
%sql drop table instructor

 * sqlite:///db_2021.db
Done.

[]

In [8]:
%sql select * from instructor

 * sqlite:///db_2021.db
(sqlite3.OperationalError) no such table: instructor
[SQL: select * from instructor]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [9]:
%%sql
create table instructor (
ID char(5),
name varchar(20) not null,
dept_name varchar(20),
salary numeric(8,2),
primary key (ID))

 * sqlite:///db_2021.db
Done.

[]

In [10]:
%sql select * from instructor

 * sqlite:///db_2021.db
Done.

[]

In [11]:
%sql insert into instructor values ('10101','Adam','Biology',66000)

 * sqlite:///db_2021.db
1 rows affected.

[]

%sql insert into instructor values ('10101','David','Biology',66000)


IntegrityError: UNIQUE constraint failed: instructor.ID

        
'ID' is primary key so it must be unique

In [12]:
%sql insert into instructor values ('10104','Adam2','Biology',66000)

 * sqlite:///db_2021.db
1 rows affected.

[]

In [13]:
%sql select * from instructor

 * sqlite:///db_2021.db
Done.

[('10101', 'Adam', 'Biology', 66000), ('10104', 'Adam2', 'Biology', 66000)]

In [14]:
%sql drop table instructor

 * sqlite:///db_2021.db
Done.

[]

In [15]:
%sql PRAGMA foreign_keys = ON;

 * sqlite:///db_2021.db
Done.

[]

In [16]:
%%sql
create table instructor (
ID char(5),
name varchar(20) not null,
dept_name varchar(20),
salary numeric(8,2),
primary key (ID),
foreign key (dept_name) references department)

 * sqlite:///db_2021.db
Done.

[]

In [17]:
%sql insert into instructor values ('10101','David','Biology','60000')

 * sqlite:///db_2021.db
(sqlite3.OperationalError) no such table: main.department
[SQL: insert into instructor values ('10101','David','Biology','60000')]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [35]:
%sql drop table department

 * sqlite:///db_2021.db

IntegrityError: (sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: drop table department]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [34]:
%%sql
create table department (
dept_name varchar(20) primary key,
building varchar(20),
budget int)

 * sqlite:///db_2021.db
(sqlite3.OperationalError) table department already exists
[SQL: create table department (
dept_name varchar(20) primary key,
building varchar(20),
budget int)]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

%sql insert into instructor values ('10101','David','Biology','60000')


IntegrityError: FOREIGN KEY constraint failed
    

No 'Biology' in 'department'

In [25]:
%sql insert into department values ('Biology','A-dong','60000')

 * sqlite:///db_2021.db
1 rows affected.

[]

In [26]:
%sql insert into instructor values ('10101','David','Biology','60000')

 * sqlite:///db_2021.db
1 rows affected.

[]