In [1]:
pi = 3.14159
def area(radius):
    return pi*(radius**2)
def circumference(radius):
    return 2*pi*radius

In [2]:
print (pi)

3.14159

In [3]:
print (area(10))

314.159

In [4]:
print (circumference(3))

18.849539999999998

In [5]:
# without using magic function
# pip install ipython-sql

In [6]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\kgbko\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in c:\users\kgbko\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\kgbko\anaconda3\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: prettytable<1 in c:\users\kgbko\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\kgbko\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in c:\users\kgbko\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\kgbko\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: decorator in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: backcall in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: jedi>=0.10 in c:\users\kgbko\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: wcwidth in c:\users\kgbko\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\kgbko\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)

In [7]:
import sqlite3

In [8]:
connection = sqlite3.connect('db_univ7.db')

In [9]:
cursor = connection.cursor()

In [10]:
with connection:
    cursor.execute('select * from student')

In [11]:
rows = cursor.fetchall()

In [12]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120

In [13]:
cursor.execute('''INSERT INTO student values ('33333', 'John', 'History', 10)''')

In [14]:
with connection:
    cursor.execute('''select * from student''')

In [15]:
rows = cursor.fetchall()

In [16]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120
33333 John History 10

In [17]:
sID='33344'

In [18]:
sname='Maria'

In [19]:
cursor.execute('''INSERT INTO student values (?, ?, 'History', 40)''',(sID,sname))

In [20]:
with connection:
    cursor.execute('''select * from student''')

In [21]:
rows = cursor.fetchall()

In [22]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120
33333 John History 10
33344 Maria History 40